{% extends 'frontend/detail_base.html' %}
{% block heading %}
    {{data.name}}
{% endblock heading %}

{% block body %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>System</th>
            <th>Type</th>
            <th>Max pad size</th>
            <th>Distance to star</th>
            <th>Allegiance</th>
            <th>Government</th>
            <th>State</th>
            <th>Faction</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a class="btn btn-primary btn-sm" href="{{data.system}}">
                    {{data.system_name}}
                </a>
            </td>
            <td>{{data.type}}</td>
            <td>{{data.max_landing_pad_size}}</td>
            <td>{{data.distance_to_star}}</td>
            <td>{{data.allegiance}}</td>
            <td>{{data.government}}</td>
            <td>{{data.state}}</td>
            <td>{{data.faction}}</td>
        </tr>
        <tr>
            <th>Repair</th>
            <th>Black market</th>
            <th>Refuel</th>
            <th>Rearm</th>
            <th>Shipyard</th>
            <th>Outfitting</th>
            <th>Commodities</th>
            <th>Number of commodities</th>
        </tr>
        <tr>
            <td>{{data.has_repair}}</td>
            <td>{{data.has_blackmarket}}</td>
            <td>{{data.has_refuel}}</td>
            <td>{{data.has_rearm}}</td>
            <td>{{data.has_shipyard}}</td>
            <td>{{data.has_outfitting}}</td>
            <td>{{data.has_commodities}}</td>
            <td>{{data.number_of_commodities}}</td>
        </tr>
        </tbody>
    </table>
    {% if data.number_of_commodities != 0 %}
    <p>
        <input id="{{data.uuid}}_search_input" name="station_commodity_search_input"
               data-station="{{data.id}}" data-uuid="{{data.uuid}}"
               type="text" class="typeahead form-control" placeholder="Search for a commodity..." autocomplete="off">
    </p>
    <p>
        <button class="btn btn-primary" data-uuid="{{data.uuid}}" data-station="{{data.id}}"
                name="station_commodities_browse_button">Browse commodities</button>
    </p>
    {% endif %}
</div>
{% endblock body %}