{% extends 'frontend/detail_base.html' %}
{% block heading %}
    {{data.name}}
{% endblock heading %}

{% block body %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>System</th>
            <th>Type</th>
            <th>Max pad size</th>
            <th>Distance to star</th>
            <th>Allegiance</th>
            <th>Government</th>
            <th>State</th>
            <th>Faction</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a class="btn btn-primary btn-sm" href="{{data.system}}">
                    {{data.system_name}}
                </a>
            </td>
            <td>{{data.type}}</td>
            <td>{{data.max_landing_pad_size}}</td>
            <td>{{data.distance_to_star}}</td>
            <td>{{data.allegiance}}</td>
            <td>{{data.government}}</td>
            <td>{{data.state}}</td>
            <td>{{data.faction}}</td>
        </tr>
        <tr>
            <th>Repair</th>
            <th>Black market</th>
            <th>Refuel</th>
            <th>Rearm</th>
            <th>Shipyard</th>
            <th>Outfitting</th>
            <th>Commodities</th>
            <th>Number of commodities</th>
        </tr>
        <tr>
            <td>{{data.has_repair}}</td>
            <td>{{data.has_blackmarket}}</td>
            <td>{{data.has_refuel}}</td>
            <td>{{data.has_rearm}}</td>
            <td>{{data.has_shipyard}}</td>
            <td>{{data.has_outfitting}}</td>
            <td>{{data.has_commodities}}</td>
            <td>{{data.number_of_commodities}}</td>
        </tr>
        </tbody>
    </table>
    {% comment %}
    {% if data.station_commodities|length == 0 %}
    <h4>No commodities</h4>
    {% else %}
    <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#{{data.uuid}}_commodities">
        Commodities
    </button>
    <div class="collapse" id="{{data.uuid}}_commodities">
        <table class="table">
            <thead>
            <tr>
                <th>Commodity</th>
                <th>Category</th>
                <th>Average price</th>
                <th>Buy</th>
                <th>Supply (level)</th>
                <th>Sell</th>
                <th>Demand (level)</th>
                <th>Created</th>
            </tr>
            </thead>
            <tbody>
            {% for s in data.station_commodities %}
                <tr>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{s.commodity}}">
                            {{s.commodity_name}}
                        </a>
                    </td>
                    <td>{{s.category_name}}</td>
                    <td>{{s.average_price}}</td>
                    <td>{{s.buy_price}}</td>
                    <td>{{s.supply}} ({{data.supply_level}})</td>
                    <td>{{s.sell_price}}</td>
                    <td>{{s.demand}} ({{s.demand_level}})</td>
                    <td>{{s.created}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% endcomment %}
</div>
{% endblock body %}