{% load my_tags %}
{% if data %}
    <div class="panel panel-info" id="station_{{data.id}}">
        <div class="panel-heading">
            <a class="panel-title" href="{{data.url}}">
                {{data.name}}
            </a>
        </div>
        <div class="panel-body">
            <dl>
                <dt><p>System</p></dt>
                <dd>
                    <p>
                        <a class="btn btn-primary btn-sm" href="{{data.system}}">
                            {{data.system_name}}
                        </a>
                    </p>
                </dd>
                <dt><p>Type</p></dt>
                <dd><p>{{data.type}}</p></dd>
                <dt><p>Max landing pad size</p></dt>
                <dd><p>{{data.max_landing_pad_size}}</p></dd>
                <dt><p>Distance to star</p></dt>
                <dd><p>{{data.distance_to_star}}</p></dd>
                <dt><p>Allegiance</p></dt>
                <dd><p>{{data.allegiance}}</p></dd>
                <dt><p>Government</p></dt>
                <dd><p>{{data.government}}</p></dd>
                <dt><p>State</p></dt>
                <dd><p>{{data.state}}</p></dd>
                <dt><p>Faction</p></dt>
                <dd><p>{{data.faction}}</p></dd>
                <dt><p>Has repair</p></dt>
                <dd><p>{{data.has_repair}}</p></dd>
                <dt><p>Has blackmarket</p></dt>
                <dd><p>{{data.has_blackmarket}}</p></dd>
                <dt><p>Has refuel</p></dt>
                <dd><p>{{data.has_refuel}}</p></dd>
                <dt><p>Has rearm</p></dt>
                <dd><p>{{data.has_rearm}}</p></dd>
                <dt><p>Has shipyard</p></dt>
                <dd><p>{{data.has_shipyard}}</p></dd>
                <dt><p>Has outfitting</p></dt>
                <dd><p>{{data.has_outfitting}}</p></dd>
                <dt><p>Has commodities</p></dt>
                <dd><p>{{data.has_commodities}}</p></dd>
                <dt><p>Updated at</p></dt>
                <dd><p>{{data.updated_at}}</p></dd>
            </dl>
        </div>
    </div>
{% endif %}