{% extends "frontend/base.html" %}

{% block title %}
Station list
{% endblock %}

{% block list %}
    <div class="page-header">
        <h1>
            Station list
        </h1>
    </div>
    <p>
        <input id="list_search" type="search" class="typeahead form-control"
               placeholder="Search..." autocomplete="off" data-model="stations">
    </p>
    <div id="search_error"></div>

    {% if data %}
    {% include 'frontend/list_nav.html' %}

    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            {% include 'frontend/station/thead.html' %}
            <tbody>
            {% for station in data.results %}
                {% include "frontend/station/row.html" with data=station only %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'frontend/station_commodity/modal.html' %}

    {% endif %}
{% endblock list %}
