{% extends "frontend/base.html" %}

{% block title %}
Station list
{% endblock %}

{% block list %}
    <div class="page-header">
        <h1>
            Station list
        </h1>
    </div>
    {% if data %}
    {% include 'frontend/list_nav.html' %}
    <div class='panel-group' id='station_list'>
        {% for station in data.results %}
            {% include "frontend/station/detail.html" with data=station group='station_list' only %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock list %}
