{% extends 'frontend/detail_base.html' %}
{% block heading %}
    Route {{data.id}}
{% endblock heading %}

{% block body %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Owner</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{data.owner_name}}</td>
            <td>{{data.created}}</td>
        </tr>
        </tbody>
    </table>
</div>
{% if data.connections|length == 0 %}
    <h4>No connections</h4>
{% else %}
    <h4>Connections</h4>
    <div class='panel-group' id='{{data.uuid}}_connection_list' role="tablist">
        {% for connection in data.connections %}
            {% include "frontend/connection/detail.html" with data=connection group=data.uuid|add:'_connection_list' only %}
        {% endfor %}
    </div>
{% endif %}
{% if user.username == data.owner_name %}
    {% include 'frontend/connection/form.html' with route=data id=data.uuid %}
{% endif %}
{% endblock body %}
