{% extends 'frontend/detail_base.html' %}
{% block heading %}
    Route {{data.id}}
{% endblock heading %}

{% block body %}
<dl>
    <dt><p><a class="btn btn-primary btn-sm" href="{{data.owner}}">Owner</a></p></dt>
    <dt><p>Created:</p></dt>
    <dd><p>{{data.created}}</p></dd>
    <dt><p>Connections:</p></dt>
    <dd>
    <div class='panel-group' id='{{data.uuid}}_connection_list'>
        {% for connection in data.connections %}
            {% include "frontend/connection/detail.html" with data=connection group=data.uuid|add:'_connection_list' only %}
        {% endfor %}
    </div>
    </dd>
</dl>
{% endblock body %}