{% extends "frontend/base.html" %}

{% block title %}
Station commodities list
{% endblock %}

{% block list %}
    <div class="page-header">
        <h1>
            Station Commodity list
        </h1>
    </div>
    {% if data %}
    {% include 'frontend/list_nav.html' %}
    <div class="table-responsive">
    <table class="table">
        {% include 'frontend/station_commodity/thead.html' %}
        <tbody>
        {% for commodity in data.results %}
            {% include "frontend/station_commodity/row.html" with data=commodity only %}
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}
{% endblock list %}
