{% extends "frontend/base.html" %}

{% block title %}
Station commodities list
{% endblock %}

{% block list %}
    <div class="page-header">
        <h1>
            Station Commodity list
        </h1>
    </div>
    {% if data %}
    {% include 'frontend/list_nav.html' %}
    <div class='panel-group' id='station_commodity_list'>
        {% for commodity in data.results %}
            {% include "frontend/station_commodity/detail.html" with data=commodity group='station_commodity_list' only %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock list %}
