<tr>
    <td>
        <a class="btn btn-primary btn-sm" href="{{data.commodity}}">
            {{data.commodity_name}}
        </a>
    </td>
    <td>
        <a class="btn btn-primary btn-sm" href="{{data.station}}">
            {{data.station_name}}
        </a>
    </td>
    <td>{{data.category_name}}</td>
    <td>{{data.average_price}}</td>
    <td>{{data.buy_price}}</td>
    <td>{{data.supply}} ({{data.supply_level}})</td>
    <td>{{data.sell_price}}</td>
    <td>{{data.demand}} ({{data.demand_level}})</td>
    <td>{{data.created}}</td>
</tr>