{% extends 'frontend/detail_base.html' %}
{% block heading %}
    Connection {{data.id}}
{% endblock heading %}

{% block body %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Start system</th>
            <th>Start station</th>
            <th>Dest system</th>
            <th>Dest station</th>
            <th>Commodity (average)</th>
            <th>Distance (ly)</th>
            <th>Buy price</th>
            <th>Supply</th>
            <th>Sell price</th>
            <th>Demand</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a class="btn btn-primary btn-sm" href="{{data.start_system.url}}">
                    {{data.start_system.name}}
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{data.start_station.url}}">
                    {{data.start_station.name}}
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{data.destination_system.url}}">
                    {{data.destination_system.name}}
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{data.destination_station.url}}">
                    {{data.destination_station.name}}
                </a>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{data.commodity.url}}">
                    {{data.commodity.name}} ({{data.commodity.average_price}})
                </a>
            </td>
            <td>{{data.distance}}</td>
            <td>{{data.buy_price}}</td>
            <td>{{data.supply}}</td>
            <td>{{data.sell_price}}</td>
            <td>{{data.demand}}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock body %}