{% load my_tags %}
{% if data %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a class="panel-title" href="{{data.url}}">
                Connection {{data.id}}
            </a>
        </div>
        <div class="panel-body">
            <div class="connection" id="connection_{{data.id}}">
                <dl>
                    <dt><p>From:</p></dt>
                    <dd>
                    <p>
                        <a class="btn btn-primary btn-sm" href="{{data.start_system.url}}">
                            {{data.start_system.name}}
                        </a>
                        --
                        <a class="btn btn-primary btn-sm" href="{{data.start_station.url}}">
                            {{data.start_station.name}}
                        </a>
                    </p>
                    </dd>
                    <dt><p>To:</p></dt>
                    <dd>
                    <p>
                        <a class="btn btn-primary btn-sm" href="{{data.destination_system.url}}">
                            {{data.destination_system.name}}
                        </a>
                        --
                        <a class="btn btn-primary btn-sm" href="{{data.destination_station.url}}">
                            {{data.destination_station.name}}
                        </a>
                    </p>
                    </dd>
                    <dt><p>Commodity (average):</p></dt>
                    <dd>
                        <p>
                            <a class="btn btn-primary btn-sm" href="{{data.commodity.url}}">
                                {{data.commodity.name}}
                            </a>
                            ({{data.commodity.average_price}})
                        </p>
                    </dd>
                    <dt><p>Distance (ly):</p></dt>
                    <dd><p>{{data.distance}}</p></dd>
                    <dt><p>Buy price / Sell price:</p></dt>
                    <dd><p>{{data.buy_price}} / {{data.sell_price}}</p></dd>
                    <dt><p>Supply / Demand:</p></dt>
                    <dd><p>{{data.supply}} / {{data.demand}}</p></dd>
                </dl>
            </div>
        </div>
    </div>
{% endif %}