{% load my_tags %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" href="#{{data.uuid}}_collapse">
                Create connection
            </a>
        </h3>
    </div>
    <div class="collapse" id="{{data.uuid}}_collapse">
        <div class="panel-body">
            <form id="connection_form" method="post" action="{% url 'connection-list' %}">
                {% csrf_token %}
                {% if data %}
                    {{data|render_form|safe}}
                {% else %}
                    {% if route %}
                        {{"route"|render_hidden:route.url|safe}}
                    {% else %}
                        {{"route"|render_input|safe}}
                    {% endif %}
                    {{'start_system,start_station,destination_system,destination_station'|render_form|safe}}
                    {{'commodity,buy_price,sell_price,supply,demand'|render_form|safe}}
                {% endif %}
                <button class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
</div>
