{% comment %}
Params: id, route
{% endcomment %}

{% load my_tags %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" href="#{{id}}_connection_form_collapse">
                Create connection
            </a>
        </h3>
    </div>
    <div class="collapse" id="{{id}}_connection_form_collapse">
        <div class="panel-body">
            <form id="{{id}}_connection_form" method="post" action="{% url 'connection-list' %}">
                {% csrf_token %}

                <div class="form-group">
                    <input type="hidden" class="form-control" name="route" value="{{data.url}}">
                </div>

                {% with 'start_system start_station destination_system destination_station commodity buy_price supply sell_price demand' as list %}
                    {% for name in list.split %}
                        <div class="form-group">
                            <label for="{{id}}_{{name}}">{{name|capfirst}}</label>
                            <input class="typeahead form-control" autocomplete="off" type="text" name="{{name}}" id="{{id}}_{{name}}" required>
                        </div>
                    {% endfor %}
                {% endwith %}
                <button class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
</div>
