{% extends "frontend/base.html" %}

{% block title %}
{% if data %}
Connection {{data.name}}
{% endif %}
{% endblock %}

{% block instance %}
    <div class="page-header">
        <h1>Connection</h1>
    </div>
    {% if data %}
        {% if data.route %}
            {% include 'frontend/back_button.html' with href=data.route name='Back to route' %}
        {% else %}
            {% include 'frontend/back_button.html' %}
        {% endif %}
        {% include "frontend/connection/detail.html" %}
    {% endif %}
{% endblock instance %}
