{% extends "frontend/base.html" %}

{% block title %}
{% if data %}
Connection {{data.name}}
{% endif %}
{% endblock %}

{% block instance %}
    <div class="page-header">
        <h1>Connection</h1>
    </div>
    {% if data %}
        {% if data.route %}
            <p>
                <a class="btn btn-lg btn-default" href="{{data.route}}">Back to route</a>
            </p>
        {% else %}
            {% include 'frontend/back_button.html' %}
        {% endif %}
        {% include "frontend/connection/detail.html" %}
    {% endif %}
{% endblock instance %}
