{% extends "frontend/base.html" %}

{% block title %}
Connection list
{% endblock %}

{% block list %}
    <div class="page-header">
        <h1>
            Connection list
        </h1>
    </div>
    {% if data %}
    {% include 'frontend/list_nav.html' %}
    <div class='panel-group' id='connection_list' role="tablist">
        {% for connection in data.results %}
            {% include "frontend/connection/detail.html" with data=connection group='connection_list' only %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock list %}
