{{#data}}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Station</th>
                <th>Type</th>
                <th>Max pad</th>
                <th>Star distance</th>
                <th>Allegiance</th>
                <th>Government</th>
                <th>Faction</th>
                <th>Black market</th>
                <th>Shipyard</th>
                <th>Outfitting</th>
                <th>Commodities</th>
            </tr>
            </thead>
            <tbody>
            {{#data.results}}
                <tr>
                    <td><a class="btn btn-primary btn-sm" href="{{url}}">{{name}}</a></td>
                    <td>{{type}}</td>
                    <td>{{max_landing_pad_size}}</td>
                    <td>{{distance_to_star}}</td>
                    <td>{{allegiance}}</td>
                    <td>{{government}}</td>
                    <td>{{faction}}</td>
                    <td>{{has_blackmarket}}</td>
                    <td>{{has_shipyard}}</td>
                    <td>{{has_outfitting}}</td>
                    <td>{{number_of_commodities}}</td>
                </tr>
            {{/data.results}}
            </tbody>
        </table>
    </div>
{{/data}}