<div class="connection">
    Url: <a href="{{connection.url}}">{{connection.url}}</a>
    <br>
    Owner: <a href="{{connection.owner}}">{{connection.owner}}</a>
    <br>
    Route: <a href="{{connection.route}}">{{connection.route}}</a>
    <br>
    Created: {{connection.created}}
    <br>
    Start System: <a href="{{connection.start_system}}">{{connection.start_system}}</a>
    <br>
    Start Station: <a href="{{connection.start_station}}">{{connection.start_station}}</a>
    <br>
    Destination System: <a href="{{connection.destination_system}}">{{connection.destination_system}}</a>
    <br>
    Destination Station: <a href="{{connection.destination_station}}">{{connection.destination_station}}</a>
    <br>
    Commodity: <a href="{{connection.commodity}}">{{connection.commodity}}</a>
    <br>
    Distance: {{connection.distance}}
    <br>
    Buy price: {{connection.buy_price}}
    <br>
    Sell price: {{connection.sell_price}}
    <br>
    Supply: {{connection.supply}}
    <br>
    Demand: {{connection.demand}}
    <br>
</div>