{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block title %}
Elite Trade Routes
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>
        Under construction...
    </h1>
</div>
<p>
    <input id="search_input" type="text" class="typeahead form-control" placeholder="Search..." autocomplete="off">
</p>
<p>
    <label class="radio-inline">
        <input type="radio" name="search_type" value="commodities" checked> Commodities
    </label>
    <label class="radio-inline">
        <input type="radio" name="search_type" value="systems"> Systems
    </label>
    <label class="radio-inline">
        <input type="radio" name="search_type" value="stations"> Stations
    </label>
</p>
<div id="search_error"></div>

<h4>
    About
</h4>
<p>
    The first version of this website will be focused on providing a restful
    api. The api will have a matching html and api view in most cases.
</p>

<p>
    To specify the return type of the content you can either use the appropriate
    accept header (recommended) or append '.json', '.html' or '.api' to the end
    of your calls. ex. <code>/systems/1/.json</code> will return the data for that
    endpoint in json and <code>/systems/1/.api</code> will display api information
    for that endpoint.
</p>

<p>
    The use of accept header is recommended because if a suffix is used, all of the
    hyperlinks returned on that page will also have the suffix. This can become
    somewhat bothersome as it makes the return value not very consistent.
</p>

<p>
    The backend used to build this api are Django and django-rest-framework.
</p>

<p>
    The data used in this website is collected from eddb.io and EDDN.
</p>

<h4>
    Example views:
</h4>
<div class="btn-group btn-group-sm" role="group">
    <a class="btn btn-default" href="/systems/1/">HTML view</a>
    <a class="btn btn-default" href="/systems/1/.json">JSON view</a>
    <a class="btn btn-default" href="/systems/1/.api">API view</a>
</div>

<h4>
    Example data:
</h4>
<div class="btn-group btn-group-sm" role="group">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Commodity<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/commodities/42/">Gold</a></li>
            <li><a href="/commodities/27/">Marine Equipment</a></li>
            <li><a href="/commodities/1/">Explosives</a></li>
        </ul>
    </div>
    <div class="btn-group">

        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Station<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/stations/1430/">Titan City (Sol)</a></li>
            <li><a href="/stations/18595/">Bradfield Ring (HR 826)</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">System<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/systems/12024/">LHS 3447</a></li>
            <li><a href="/systems/17072/">Sol</a></li>
        </ul>
    </div>
</div>
{% endblock %}