{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="page-header">
    <h1>
        Under construction...
    </h1>
</div>
<p>
    <input id="search_input" type="text" class="typeahead form-control" placeholder="Search..." autocomplete="off">
</p>
<p>
    <label class="radio-inline">
        <input type="radio" name="search_type" value="commodities" checked> Commodities
    </label>
    <label class="radio-inline">
        <input type="radio" name="search_type" value="systems"> Systems
    </label>
    <label class="radio-inline">
        <input type="radio" name="search_type" value="stations"> Stations
    </label>
</p>
<div id="search_error"></div>

<h3>
    About
</h3>
<p>
    EliteTradeRoutes provides an easy way to search for details on various game
    data related to trading for the game Elite: Dangerous.
    The first version of this website will be focused on providing a REST
    API as well as an equally featured web view.
</p>

<p>
    You can find specific game data by using the search box or by browsing the
    database through the categories listed in the nav bar.
</p>

<h3>
    API
</h3>

<p>
    This site also provides a REST API. Any data you can see on the web will also be
    available via the API. Currently no there are no API keys but please go easy on the server.
    To specify the return type of the content you can either use the appropriate
    accept header (recommended) or append '.json', '.html' or '.api' to the end
    of your calls. ex. <code>/systems/1/.json</code> will return the data for that
    endpoint in json and <code>/systems/1/.api</code> will display api information
    for that endpoint.
</p>

<p>
    The use of accept header is recommended because if a suffix is used, all of the
    hyperlinks returned on that page will also have the suffix. This can become
    somewhat bothersome as it makes the return value not very consistent.
</p>

<h3>
    Example views:
</h3>
<div class="btn-group btn-group-sm" role="group">
    <a class="btn btn-default" href="/systems/1/">HTML view</a>
    <a class="btn btn-default" href="/systems/1/.json">JSON view</a>
    <a class="btn btn-default" href="/systems/1/.api">API view</a>
</div>

<h3>
    Example data:
</h3>
<div class="btn-group btn-group-sm" role="group">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Commodity<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/commodities/42/">Gold</a></li>
            <li><a href="/commodities/27/">Marine Equipment</a></li>
            <li><a href="/commodities/1/">Explosives</a></li>
        </ul>
    </div>
    <div class="btn-group">

        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Station<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/stations/1430/">Titan City (Sol)</a></li>
            <li><a href="/stations/18595/">Bradfield Ring (HR 826)</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">System<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/systems/12024/">LHS 3447</a></li>
            <li><a href="/systems/17072/">Sol</a></li>
        </ul>
    </div>
</div>

<h3>
    Where did you get all the data?
</h3>

<p>
    The data used in this website is collected from eddb.io and EDDN.
</p>

{% endblock %}