{% extends "frontend/base.html" %}
{% load rest_framework %}

{% comment %}
    {% load rest_framework %} ALWAYS need to be in files where framework is used.
{% endcomment %}

{% block body %}

{% if route %}
    <a href="{% url 'route-list' %}">Back to list</a>

    {% include "frontend/route_detail.html" %}

    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Update route">
    </form>

{% endif%}

{% if form %}
    {% for field in form %}
        {% if not field.read_only %}
            {% render_field field style=style %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if results %}
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="New route">
    </form>

    <p>Route list:</p>
    {% for route in results %}
        {% include "frontend/route_detail.html" %}
    {% endfor %}

{% endif %}

{% endblock %}

