{% extends 'frontend/detail_base.html' %}
{% block heading %}
    {{data.name}}
{% endblock heading %}

{% block body %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Average price</th>
            <th>Category</th>
            <th>Number of stations</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{data.average_price}}</td>
            <td>{{data.category_name}}</td>
            <td>{{data.number_of_stations}}</td>
        </tr>
        </tbody>
    </table>
    {% comment %}
    {% if data.station_commodities|length == 0 %}
        <h4>No stations</h4>
    {% else %}
    <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#{{data.uuid}}_stations">
        Stations
    </button>
    <div class="collapse" id="{{data.uuid}}_stations">
        <table class="table">
            <thead>
            <tr>
                <th>Station</th>
                <th>Category</th>
                <th>Average price</th>
                <th>Buy</th>
                <th>Supply (level)</th>
                <th>Sell</th>
                <th>Demand (level)</th>
                <th>Created</th>
            </tr>
            </thead>
            <tbody>
            {% for s in data.station_commodities %}
                <tr>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{s.station}}">
                            {{s.station_name}}
                        </a>
                    </td>
                    <td>{{s.category_name}}</td>
                    <td>{{s.average_price}}</td>
                    <td>{{s.buy_price}}</td>
                    <td>{{s.supply}} ({{s.supply_level}})</td>
                    <td>{{s.sell_price}}</td>
                    <td>{{s.demand}} ({{s.demand_level}})</td>
                    <td>{{s.created}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% endcomment %}
</div>
{% endblock body %}