{% extends 'frontend/detail_base.html' %}
{% block heading %}
    {{data.name}}
{% endblock heading %}

{% block body %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Average price</th>
            <th>Category</th>
            <th>Number of stations</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{data.average_price}}</td>
            <td>{{data.category_name}}</td>
            <td>{{data.number_of_stations}}</td>
        </tr>
        </tbody>
    </table>
</div>
{% if data.number_of_stations != 0 %}
<p>
    <input id="{{data.uuid}}_search_input" name="station_commodity_search_input"
           data-commodity="{{data.id}}" data-uuid="{{data.uuid}}"
           type="text" class="typeahead form-control" placeholder="Search for a station..." autocomplete="off">
</p>
<p>
    <button class="btn btn-primary" data-uuid="{{data.uuid}}" data-commodity="{{data.id}}"
            name="station_commodities_browse_button">Browse stations</button>
</p>
{% endif %}
{% endblock body %}