{% extends "frontend/base.html" %}

{% block title %}
Commodity station list
{% endblock %}

{% block list %}
    <div class="page-header">
        <h1>
            Commodity station list
        </h1>
    </div>
    <p>
        <button class="btn btn-lg btn-default" onclick="window.history.back()">Back to commodity</button>
    </p>
    {% if data %}
    {% include 'frontend/list_nav.html' %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Station</th>
                <th>Category</th>
                <th>Average price</th>
                <th>Buy</th>
                <th>Supply (level)</th>
                <th>Sell</th>
                <th>Demand (level)</th>
                <th>Created</th>
            </tr>
            </thead>
            <tbody>
            {% for s in data.results %}
                <tr>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{s.station}}">
                            {{s.station_name}}
                        </a>
                    </td>
                    <td>{{s.category_name}}</td>
                    <td>{{s.average_price}}</td>
                    <td>{{s.buy_price}}</td>
                    <td>{{s.supply}} ({{s.supply_level}})</td>
                    <td>{{s.sell_price}}</td>
                    <td>{{s.demand}} ({{s.demand_level}})</td>
                    <td>{{s.created}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock list %}