{% extends 'frontend/detail_base.html' %}
{% block heading %}
{{data.name}}
{% endblock heading %}

{% block body %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Needs permit</th>
                <th>Primary economy</th>
                <th>Population</th>
                <th>Security</th>
                <th>Allegiance</th>
                <th>Government</th>
                <th>State</th>
                <th>Faction</th>
                <th>X</th>
                <th>Y</th>
                <th>Z</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.needs_permit}}</td>
                <td>{{data.primary_economy}}</td>
                <td>{{data.population}}</td>
                <td>{{data.security}}</td>
                <td>{{data.allegiance}}</td>
                <td>{{data.government}}</td>
                <td>{{data.state}}</td>
                <td>{{data.faction}}</td>
                <td>{{data.x}}</td>
                <td>{{data.y}}</td>
                <td>{{data.z}}</td>
                <td>{{data.updated_at}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% if data.stations|length == 0 %}
    <h4>No stations</h4>
{% else %}
    <h4>Stations</h4>
    {% if data.min %}
    <ul class="list-unstyled">
        {% for station in data.stations %}
        <li>
            <a class="btn btn-primary btn-sm" href="{{station}}">
                {{station}}
            </a>
        </li>
    </ul>
        {% endfor %}
    {% else %}
    <div class='panel-group' id='{{data.uuid}}_station_list' role="tablist">
        {% for station in data.stations %}
            {% include 'frontend/station/detail.html' with data=station group=data.uuid|add:'_station_list' only %}
        {% endfor %}
    </div>
    {% endif %}
{% endif %}
{% endblock body %}
