{% extends "frontend/base.html" %}

{% block title %}
System list
{% endblock %}

{% block list %}
    <div class="page-header">
        <h1>
            System list
        </h1>
    </div>
    {% if data %}
    {% include 'frontend/list_nav.html' %}
    <div class='panel-group' id='system_list'>
        {% for system in data.results %}
            {% include "frontend/system/detail.html" with data=system group='system_list' only %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock list %}
