{% extends "frontend/base.html" %}

{% block body %}
<div class="page-header">
    <h1>Change password</h1>
</div>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <p>{{error}}</p>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="old_password_id">Old password:</label>
        <input id="old_password_id" class="form-control" name="old_password" type="password" required>
    </div>
    <div class="form-group">
        <label for="new_password1_id">New password:</label>
        <input id="new_password1_id" class="form-control" name="new_password1" type="password" required>
    </div>
    <div class="form-group">
        <label for="new_password2_id">Confirm new password:</label>
        <input id="new_password2_id" class="form-control" name="new_password2" type="password" required>
    </div>
    <input class="btn btn-default" type="submit" value="Change password" />
</form>

{% endblock %}