{% extends "frontend/base.html" %}

{% block body %}
<div class="page-header">
    <h1>Register</h1>
</div>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {% for field, errors in form.errors.items %}
    {{field}}: {{errors.0}}
    {% endfor %}
</div>
{% endif %}


<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username_id">Username:</label>
        <input id="username_id" class="form-control" type="text" name="username" required>
    </div>
    <div class="form-group">
        <label for="email_id">Email:</label>
        <input id="email_id" class="form-control" name="email" type="email" required>
    </div>
    <div class="form-group">
        <label for="password1_id">Password:</label>
        <input id="password1_id" class="form-control" type="password" name="password1" required>
    </div>
    <div class="form-group">
        <label for="password2_id">Confirm password:</label>
        <input id="password2_id" class="form-control" type="password" name="password2" required>
    </div>
    <input class="btn btn-default" type="submit" value="Create account" />
</form>

{% endblock %}
